# Label Studio Configuration
LABEL_STUDIO_URL=http://localhost:8080
LABEL_STUDIO_API_KEY=4c5c6e9a5c5c42458204e855a68a0fcd4c5c6e9a
LABEL_STUDIO_PROJECT_ID=1

# Inference API Configuration
INFERENCE_API_URL=http://localhost:8000
