# Core Dependencies
torch
torchvision
ultralytics
opencv-python-headless
numpy
tqdm
pyyaml
python-dotenv
boto3

# MLOps & Tracking
dvc[s3]
mlflow
evidently

# Serving & UI (Coming Soon - Compatibility Check needed for Py 3.13)
# streamlit
# mlserver
# mlserver-pytorch

# Human-in-the-Loop
# label-studio-sdk
